<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset("favicon.ico") }}">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}"/>
    </head>
    <body>

    <div class="site-header">

        <div class="navbar">
            <ul class = "nav-list">
                <li class="nav-item"><a href="{{ url("home")}}">Home</a></li>
                <li class="nav-item"><a href="{{ url("about")}}">About</a></li>
                <li class="nav-item"><a href="{{ url("report")}}">Report</a></li>
                <li class="nav-item"><a target="_blank" href="https://github.com/vectortracey">Github</a></li>
                <li class="nav-item"><a href="{{ url("dice-home")}}">dice</a></li>
                 <li class="nav-item"><a href="{{ url("card")}}">Card</a></li>
                 <li class="nav-item"><a href="{{ url("intro")}}">Game</a></li>
                  <li class="nav-item"><a href="{{ url("app_book")}}">Library</a></li>
                  <li class="nav-item"><a href="{{ url("metrics")}}">Metrics</a></li>
                  <li class="nav-item"><a href="{{ url("project-home")}}">Project</a></li>





            </ul>
        </div>

    </div>

        <div class="content">
            {% block content %}
            Default content
            {% endblock %}
        </div>

        <div class="site-footer">
                <div class = "column">
                    <p class="copyright"> © Mikael Ek | Mvc2022 @ BTH  </p>
                </div>
        </div>
    </body>
</html>
